.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #56B280;
    border: none;
    color: white;
    height: 40px;
    padding: 8px 46px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #4DAF6A;
}

.button__fill {
    width: 100%;
}