.product {
    width: 255px;
    height: 230px;
    background-color: white;
    box-shadow: 0 0 24px rgba(123, 123, 123, 0.15);
    text-decoration: none;
}

.product:hover {
    box-shadow: 2px 2px 30px rgba(123, 123, 123, 0.25);
    transition: box-shadow 0.2s;
    margin: -5px 0 5px 0;
    transition: margin 0.2s;
}

.product:not(:hover) {
    transition: box-shadow 0.2s;
    transition: margin 0.2s;
}

.product__image {
    height: 154px;
    text-align: center;
    background-color: #f7f8fa;
}

.product__title {
    padding: 14px 0 0 26px;
    font-size: 16px;
    letter-spacing: -1px;
    color: #1D293F;
}

.product__price {
    padding: 2px 26px 4px 0;
    text-align: right;
    font-size: 20px;
    color: #56B280;
}